---
permalink: /tunisia2027/
layout: layout.njk
tags: 
ogImage: /assets/og/eclissi-sole.jpg
ogTitle: Chasing the shadows - Biemmezeta | ETMA
ogDescription: A photographic journey through the landscapes of Tunisia, exploring the interplay of light and shadow, and the ephemeral beauty of solar eclipses.

title: Chasing the shadows
hero_title: Chasing the shadows - Tunisia 2027
hero_subtitle: A photographic journey through the landscapes of Tunisia, exploring the interplay of light and shadow, and the ephemeral beauty of solar eclipses.
hero_image: /assets/og/eclissi-montagne.jpg
---

{% if hero_image %}
    <section class="page-hero">
        <img src="{{ hero_image }}" alt="" class="page-hero__image"></section>
    {% endif %}
    <section class="service">
        <h1>Chasing the shadows - Tunisia 2027</h1>
        <div class="service-text">
            <p>
                Un viaggio alla scoperta della Tunisia, tra paesaggi desertici, antiche città e incontri con la cultura locale. Un
                percorso immersivo che culminerà nell'accompagnamento all'osservazione dell'Eclissi Totale di Sole del 2027, per vivere
                insieme la rara e spettacolare magia della luce che si trasforma in ombra.
            </p>
        </div>
    </section>
    {# DA SISTEMARE SECTION SERVICE CHE COSì FA SCHIFO #}
    <div class="service section">
        <h2 class="section-title">Programma (ipotesi)</h2>
        <h3>Capitolo I: La terra</h3>
        <h4>Giorno 1: arrivo a Djerba</h4>
        <div class="service-text">
            <p>Arrivo in Tunisia e prima immersione nell'ambiente locale.
            </p>
        </div>
        <h4>Giorno 2: il mondo
            <s>berbero</s>
            Amazigh</h4>
        <div class="service-text">
            <p>Arrivo in Tunisia e prima immersione nell'ambiente locale.</p>
            <p>Djerba → Ksar Ouled Soltane → Chenini → Matmata.
            </p>
        </div>
        <h3>Capitolo II: il deserto</h3>
        <h4>Giorno 3: ingresso nel Sahara</h4>
        <div class="service-text">
            <p>Matmata → Douz → campo nel deserto, tramonto, cena e notte nel deserto, cielo stellato.</p>
        </div>
        <h4>Giorno 4: dal cielo al paesaggio  (????)</h4>
        <div class="service-text">
            <p>Alba → Douz → Chott el-Jerid → Tozeur.</p>
        </div>
        <h3>Capitolo III: l'acqua</h3>
        <h4>Giorno 5: oasi</h4>
        <div class="service-text">
            <p>Tozeur → Chebika → Tamerza/Tamaghza → Mides.</p>
        </div>
        <h4>Giorno 6: il deserto cinematografico</h4>
        <div class="service-text">
            <p>Sidi Bouhlel / Mos Espa, le locations di Star Wars</p>
        </div>
        <h3>Capitolo IV: l'ombra</h3>
        <h4>Giorno 7: ???</h4>
        <div class="service-text">
            <p>Riposo</p>
        </div>
        <h4>Giorno 8: La vigilia</h4>
        <div class="service-text">
            <p>Riposo e preparazione per l'eclissi</p>
        </div>
        <h4>Giorno 9: l'ombra</h4>
        <div class="service-text">
            <p></p>
        </div>
        <h3>Capitolo IV: la luce</h3>
        <h4>Giorno 10: la luce</h4>
        <div class="service-text">
            <p>Sfax → El Jem → Kairouan → Tunis</p>
        </div>
    </div>
    <div class="section service">
        <h2 class="section-title">Informazioni</h2>
        <div class="service-text">
            <p>
                Se vuoi essere dei nostri e vivere con noi questa esperienza unica,
                <a href="/contacts">contattaci</a>
                per ricevere il programma dettagliato e le informazioni su costi, modalità di pagamento e disponibilità. (se non lo
                vogliamo scrivere qui!)
            </p>
        </div>
        <h3>Costo</h3>
        <h4>Modalità di pagamento</h4>
        <h3>Cosa è incluso</h3>
        <div class="service-text">
            <p>
                Hotel, trasporti locali, pasti mezza pensione, accompagnamento fotografico e guida locale.
            </p>
            <p>
                Per accompagnamento fotografico si intende la presenza di un fotografo professionista che seguirà il gruppo durante
                tutto il viaggio. Questo significa che i partecipanti hanno la possibilità di vivere l'esperienza al 100% senza la
                distrazione e la preoccupazione di dover avere sempre il telefono in mano per documentare tutto. Il fotografo rimane
                però a disposizione in ogni momento per fornire consigli, suggerimenti e supporto tecnico per ottenere le migliori
                fotografie possibili con il proprio telefono o la propria attrezzatura. I partecipanti avranno ricordi professionali del
                viaggio, senza dover rinunciare a vivere l'esperienza in prima persona.
            </p>
            <p>
                Compatibilmente con i ritmi del viaggio e le condizioni contingenti il fotografo è disponibile anche per brevi sessioni
                di ritratto nelle locations strafighe.
            </p>
            <p>
                NB: L'acompagnamento fotografico inclusi implica -> liberatoria fotografica!
            </p>
            <p>
                Filtri solari per l'osservazione dell'eclissi e per chi lo desideri e lo comunichi per tempo la possibilità di
                costruirsi il proprio filtro solare per la macchina fotografia. Il fotografo è a disposizione per fornire supporto
                tecnico e consigli su come realizzare al meglio le proprie fotografie dell'eclissi, sia con il proprio telefono che con
                la propria attrezzatura fotografica.
            </p>
            <p>
                I partecipanti al viaggio verranno inseriti in un gruppo whatsapp dedicato per condividere informazioni, aggiornamenti e
                foto durante il viaggio.
            </p>
        </div>
        <h3>Cosa non è incluso</h3>
        <div class="service-text">
            <p>
                Non sono inclusi i voli internazionali, le assicurazioni di viaggio, le spese personali e tutto ciò che non è
                espressamente indicato come incluso, come costo dei biglietti per i musei e le attrazioni turistiche, né le spese
                personali.
            </p>
            <p>
                Non è incluso un fotografo natgeo che vi riempie la testa con 10 ore lezione frontale su come usare 15 tipi diversi di
                filtri polarizzatori di cui non capirete nulla e che tanto non vi serviranno mai.
            </p>
        </div>
        <h3>Etica e sostenibilità</h3>
        <div class="service-text">
            <p></p>
        </div>
        <h3>Trasparenza</h3>
        <div class="service-text">
            <p>
                costi etc
            </p>
        </div>
    </div>