<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/js/photoswipe/photoswipe.css">

<script>
window.heroImages = [
{% for img in heroImages %}
  "{{ img | url }}",
{% endfor %}
];
</script>

<script src="/js/navigation.js" defer></script>
<script type="module" src="/js/gallery.js" defer></script>
</head>

<body>
<div id="top"></div>
<header class="hero" id="hero">
<h1>biemmezeta</h1>
<div class="scroll-hint" id="scroll-hint">
    ↓
</div>
</header>

<main>
{{ content | safe }}
</main>

</body>

</html>