{% for gallery in galleries %}
    <section id="{{ gallery.name }}" class="section">
        {% if site.components.wall.withTitles %}
            <h2 class="section-title">{{ gallery.title }}</h2>
        {% endif %}
        {% include "gallery.njk" %}
    </section>
{% endfor %}