---
layout: layout.njk
title: Sport
tags: services
permalink: /sport/
ogImage: /assets/og/sport.jpg
ogTitle: Sport – Biemmezeta
ogDescription: Documentary and portrait photography for athletes and sports events.
---

<section class="service">
    <h1>Sport</h1>
    <div class="service-text">
        <p>
            At its core, sports photography is still about people.It means understanding the context and connecting with athletes
            who are pushing themselves to their limits, often in moments of effort, pressure and uncertainty. Behind every
            competition there are stories of determination, struggle, joy and resilience. I look for the emotions behind the
            competition, the beauty of movement and the intensity of effort, creating images that capture both the experience and
            the aesthetics of sport.
        </p>
    </div>
</section>
<div class="section">
    <h2 class="section-title">Basket</h2>
    {% set gallery = pageGalleries["sport"]["gallery-1"] %}
    {% if gallery %}
        {% include "gallery.njk" %}
    {% endif %}
</div>
<div class="section">
    <h2 class="section-title">Football</h2>
    {% set gallery = pageGalleries["sport"]["gallery-2"] %}
    {% if gallery %}
        {% include "gallery.njk" %}
    {% endif %}
</div>
<div class="section">
    <h2 class="section-title">Running</h2>
    {% set gallery = pageGalleries["sport"]["gallery-3"] %}
    {% if gallery %}
        {% include "gallery.njk" %}
    {% endif %}
</div>
<div class="section">
    <h2 class="section-title">Water</h2>
    {% set gallery = pageGalleries["sport"]["gallery-4"] %}
    {% if gallery %}
        {% include "gallery.njk" %}
    {% endif %}
</div>
<div class="section">
    <h2 class="section-title">Other Sports</h2>
    {% set gallery = pageGalleries["sport"]["gallery-5"] %}
    {% if gallery %}
        {% include "gallery.njk" %}
    {% endif %}
</div>