---
permalink: /tpfh/
layout: layout.njk
tags: 
ogImage: /assets/og/ali_dune_turbante.jpg
ogTitle: Travel Photography for Humans - Biemmezeta
ogDescription: You live, you travel, I'll tell the story.

title: Travel Photography for Humans
hero_title: Travel Photography for Humans
hero_subtitle: You live, you travel, I'll tell the story.
hero_image: /assets/og/ali_dune_turbante.jpg
---

{% if hero_image %}
    <section class="page-hero">
        <img src="{{ hero_image }}" alt="" class="page-hero__image"></section>
    {% endif %}
    <section class="service">
        <h1>Travel Photography for Humans</h1>
        <div class="service section">
            <h3>You live.</h3>
            <h3>You travel.</h3>
            <h3>I'll tell the story.</h3>
        </div>
    </section>